body {
  padding: 0;
  margin: 0;
  background: rgb(230, 236, 241);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgb(199, 230, 243) 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://i.ytimg.com/vi/vZIbpk-vwy0/maxresdefault.jpg);
  height: 400px;
  background-position: center center;
  opacity: 0.6;
  background-repeat: no-repeat;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

/* Roast types */
.green {
  background-color: rgb(158, 178, 216);
}

.light {
  background-color: rgb(135, 163, 147);
}

.city {
  background-color: rgb(168, 175, 143);
}

.vienna {
  background-color: rgb(218, 181, 207);
}

.italian {
  background-color: rgb(131, 163, 179);
}

/* Typography */
h1 {
  color: rgb(30, 80, 28);
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: rgb(40, 78, 72);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #41292C;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

h6 {
  font-family : "Arial", sans-serif;
  font-size : 16px;
  text-transform: uppercase;
  color: rgb(11, 11, 63);
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}


li {
  border-bottom: 1px solid rgb(68, 126, 106);
  list-style: none;
  font-family:"Raleway",sans-serif;
  margin: 100px 0px;
  padding-bottom: 60px;
}

#fac {
  margin: 20px 0px;
  padding-bottom: 10px;
  font-family: "Raleway",sans-serif;
  color: rgb(255, 255, 255)
}

.som {
  margin: 20px 0px;
  padding-bottom: 10px;
}

#collec {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}

p {
  color: #444444;
  line-height: 50px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.recette p {
  font-family: "Raleway";
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.media {
  height:500px;
  width:800px;
  align-items: baseline;
}

.recette{
  float: left;
  font-family: 'Raleway';
  text-align: center;
  margin-top: 1px;
}

.recettedeux {
  float: right;
  font-family: 'Raleway';
  text-align: center;
  margin-top: 1px;
}

#onglets
{
    font : bold 25px Raleway, sans-serif;
    list-style-type : none;
    padding-bottom : 5px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin-left : 4;
    position: relative;
    height: auto;
    max-width: 100%;
}

.voirUnCanard
{
    font : bold 19px Raleway, sans-serif;
    list-style-type : none;
    padding-bottom : 5px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin-left : 0%;
    margin-top: 10px;
    position: absolute;
    
    
      width:100px;
      height:100px;
      background:#cc0000;
      border-radius:80%;
      border:none;
      color:#fff;

      animation:pulsation_bouton .8s ease-out;

}

@keyframes pulsation_bouton {
  from{
  box-shadow:0 0 0 -3px hsla(0,0%,100%,0),0 0 0 0 rgb(255, 0, 0)
  }

  to{
  box-shadow:0 0 0 10px hsla(0,0%,100%,0),0 0 0 13px hsla(0,0%,100%,0)
  }
  }

.voirUnCanard:hover {
  background:#ffeded;
  color:rgb(0, 0, 0);
}

#onglets li
{
    float : left;
    height : 25px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    width: 105px;
    position: sticky;
    background-color: rgb(111, 161, 82);
    margin : 1px 1px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
    display: inline-block;
    
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
#onglets a
{
    display : inline-block;
    color : #666;
    text-decoration : none;
    padding : 6px;
}

#onglets a:hover
{
    background : #fff;
    border-bottom: 1px; 
    
  
}

#parapluie {
  align-items: unset
}

.badge-pill {
  color: #214E34;
}

.mr-3 {
  width: 400px;
  border-color: #214E34;
  height: auto;
  max-width: 100%;
}

.txt {
  font-family: 'Raleway';
}

.column-left {
  column-width: 150px;
  column-rule-style: solid;

}

.column-right {
  column-width: 200px;
  column-rule-style: solid;

}

.column-lefte {
  column-width: 400px;
}

.column-righte {
  column-width: 200px;
  column-rule-style: solid;
}

.tshirt {
  display: inline;
  float: left;
}

.bouee {
  display: inline;
  float: left;
  align-items: baseline;

}

.form {
  display: center;
  display: inline;
}

#fname {
  display: center;
  margin-left: 520px;
}

#subject {
  display: center;
  margin-left: 310px;
}

.mot {
  margin-left: 600px;
}

.parti {
  margin-left: 660px;
}

.lol {
  width: 150px;
}